.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
body {
    background-color: black;
    height: 100%
}

html {
    height: 100%;
}