div:not(.video-container) {
    visibility: hidden;
}

.video-container, .video, .video-player-container, .player-bottom {
    visibility: visible;
}

div {
    visibility: visible;
}

.block-2, .block-3, .top-money-slot {
    display: none;
}